# Arquivos ignorados pelo controle de versão GIT. 

# Arquivos gerados pelo VSCode
.settings/
.vscode/
.metadata/
.project/
.cache/

# Debug Launch Configurations
*.launch

# Debug Configurations
*.cfg

# STM32CubeIDE Preferences
*.prefs
*.scratch

# Aqruivos gerados pelo builder proprietário
*-objdump.txt

### Arquivos da pasta debug e da pasta release
Debug/
Release/

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.bin
*.elf
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.log

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/
managed_components/
